<footer class="site-footer" style="background-color: #ccc20c;">

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="footer-heading mb-3" style="color: black;">TRƯỜNG MẦM NON HOA CÚC</h2>
        <p class="mb-5">Địa chỉ : Số 3- Ngõ 125 Đường Hoa Cúc - phường Hoa Cúc - Bắc Từ Liêm - Hà Nội</p>
        <p class="mb-5" style="margin-top: -35px;">Tel : 02437429036</p>

        <h2 class="footer-heading mb-4">Bản tin</h2>
        <form action="#" class="d-flex" class="subscribe">
          <input type="text" class="form-control mr-3" placeholder="Email">
          <input type="submit" value="Send" class="btn btn-primary">
        </form>
      </div>
      <div class="col-lg-8 ml-auto">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <h2 class="footer-heading mb-4" style="color: black;">Hỗ trợ</h2>

            <p class="mb-5">Tel : 02437429036</p>
            <p class="mb-5" style="margin-top: -35px;">viettechkey@gmail.com</p>
          </div>
          <div class="col-lg-4 ml-auto">
            <h2 class="footer-heading mb-4" style="color: black;">Phương châm</h2>
            <p>Chất lượng giáo dục là danh dự, uy tín của nhà trường</p>
          </div>
          <div class="col-lg-4">
            <h2 class="footer-heading mb-4" style="color: black;">Về chúng tôi</h2>
            <ul class="list-unstyled">
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Cơ cấu tổ chức</a></li>
              <li><a href="#">Giới thiệu nhà trường</a></li>
              <li><a href="#">Liên hệ với chúng tôi</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>