<article class="" style="position:relative ;margin-top: 50px;
margin-bottom: 50px;">
  <div id="background_article" class="background-article"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-push-9" style="margin-top: -34px">
        <div class="row khoi_phai">
          <nav class="navbar navbar-collapse navbar-default">
            <div class="navbar-header pull-right">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1"
                aria-expanded="true" aria-controls="navbar">

              </button>
            </div>
            <div class="clearfix visible-xs"></div>
            <div id="navbar1" class="collapse navbar-collapse navbar-default navbar-right collapse show">
              <div class="list-group chu_de">
                <div class="container-fluid text-center top_chude" style="background-color: rgb(255, 138, 21);">
                  <p class="ten_top_sidebar" style="color: rgb(202, 0, 0);">Văn bản hành chính</p>
                </div><a href="index.php?chucnang=view_lichcongtac" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Lịch công tác</a><a
                  href="index.php?chucnang=view_vanbanphapquy" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Văn bản pháp quy</a><a
                  href="index.php?chucnang=view_congvanchidao" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Công văn chỉ đạo</a><a
                  href="index.php?chucnang=view_giaymoi" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Giấy mời</a><a
                  href="index.php?chucnang=view_thongtin3congkhai" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Thông tin 3 công khai</a>
              </div>
              <div class="list-group chu_de">
                <div class="container-fluid text-center top_chude" style="background-color: rgb(255, 138, 21);">
                  <p class="ten_top_sidebar" style="color: rgb(202, 0, 0);">Chia sẻ - trao đổi</p>
                </div><a href="index.php?chucnang=view_baigiangdientu" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Bài giảng điện tử</a><a
                  href="index.php?chucnang=view_traodoikinhnghiem" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Trao đổi kinh nghiệm</a><a
                  href="index.php?chucnang=view_traodoitructuyen" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Trao đổi trực tuyên</a>
              </div>
              <div class="list-group chu_de">
                <div class="container-fluid text-center top_chude" style="background-color: rgb(255, 138, 21);">
                  <p class="ten_top_sidebar" style="color: rgb(202, 0, 0);">Nhà trường - phụ huynh</p>
                </div><a href="index.php?chucnang=view_thucdon" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Thực đơn của bé</a><a
                  href="index.php?chucnang=view_hoidap" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Hỏi đáp</a><a
                  href="index.php?chucnang=view_tiepthu_ykien" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Ý kiến đóng góp</a><a
                  href="index.php?chucnang=view_tracuudiemhocsinh" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Tra cứu điểm học sinh</a><a
                  href="index.php?chucnang=view_thoikhoabieuhocsinh" class="list-group-item"
                  style="background-color: rgb(255, 255, 255);">Thời khóa biểu học sinh</a>
              </div>


            </div>
          </nav>
        </div>

      </div>
      <div class="col-sm-9 col-md-pull-3">
        <script>
          function caret(value) {
            if ($('#span_caret_' + value).hasClass('glyphicon-triangle-top')) {
              $('#span_caret_' + value).removeClass('glyphicon-triangle-top');
              $('#span_caret_' + value).addClass('glyphicon-triangle-bottom');
              // alert(1);
            } else {
              $('#span_caret_' + value).removeClass('glyphicon-triangle-bottom');
              $('#span_caret_' + value).addClass('glyphicon-triangle-top');
              // alert(2);
            }
          }
        </script>
        <div class="chu_de">
          <div class="top_chude container-fluid text-left" id="vitri_hienthi"
            style="background-color: rgb(255, 138, 21); height: 44px;">
            <a class="ten_chu_de" href="javascript:void();" style="color: rgb(128, 0, 64);">Giới thiệu về trường</a>
          </div>
          <div class="body_chude" style="background-color: rgb(255, 255, 166);">

            <div class="fix-width-table" style="margin-left: 25px;">
              <p style="text-align:center">&nbsp;</p>

              <p><span style="font-size:medium"><span style="color:#ff0000"><strong><span
                        style="font-family:Tahoma">Trường Mầm non&nbsp;Hoa Cúc</span></strong></span></span> <span
                  style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">&nbsp;&nbsp;</span>&nbsp;</p>

              <p style="text-align:center">&nbsp;</p>

              <p><span style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">Ðịa chỉ</span> <span
                  style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">&nbsp;&nbsp;:&nbsp;&nbsp;</span> <span
                  style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">Phường Hoa Cúc - Quận Bắc Từ Liêm - Thành
                  Phố Hà Nội</span> <span style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">&nbsp;&nbsp;</span>
              </p>

              <p><span style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">Ðiện thoại</span> <span
                  style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">&nbsp;&nbsp;:&nbsp;&nbsp;</span> <span
                  style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">04.3838 8582&nbsp; - 0437429036&nbsp; &nbsp;
                  &nbsp; &nbsp; &nbsp; Fax: &nbsp;&nbsp;</span></p>

              <p><span style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">Website</span> <span
                  style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">&nbsp;&nbsp;:&nbsp;&nbsp;</span> <a
                  href="../../../mamnonthuyphuong" target="_blank"><span
                    style="font-family:Tahoma; font-size:10pt">http://pgdbactuliem.edu.vn/mamnonthuyphuong</span></a>
                <span style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">&nbsp;&nbsp;</span></p>

              <p><span style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">Hiệu trưởng</span> <span
                  style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">&nbsp;&nbsp;:&nbsp;&nbsp;</span> <span
                  style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">Trần Thị Kim &nbsp;Thu</span></p>

              <p><span style="color:#0f5ba1; font-family:Tahoma; font-size:10pt">Hiệu Phó:&nbsp;Bùi Thị Kiều Anh</span>
              </p>

              <p><span style="color:#003399">ĐT: 0983450105</span></p>

              <p><span style="color:#003399">Chủ tịch công đoàn: Tạ Thị Bích Hảo</span></p>

              <p><span style="color:#003399">Điện thoại: 0989151281</span></p>

              <p><span style="font-size:14pt">&nbsp; &nbsp; &nbsp; &nbsp;</span></p>

              <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt">Đi dọc theo triền đê sông Hồng
                      về phía Tây Cầu Thăng Long, chúng ta bắt gặp một ngôi trường xinh xắn đó chính là trường mầm non
                      Hoa Cúc, phường Hoa Cúc thuộc quận Bắc Từ Liêm. Ngược dòng thời gian, trường mầm non Hoa Cúc chúng
                      tôi xây dựng từ năm 1961, đây là một trong những ngôi trường có bề dày lịch sử tại Hà Nội.Trải qua
                      60&nbsp;năm xây dựng, phấn đấu, nhà trường đã có những bước tiến lớn về cả cơ sở vật chất lẫn chất
                      lượng chăm sóc - giáo dục trẻ.</span><span style="font-size:14.0pt"><span style="color:black">Năm
                        2013, trường đạt chuẩn quốc gia mức độ 1.Năm 2016, nhà trường được Sở GD&amp;ĐT công nhận chất
                        lượng giáo dục mức độ 2.</span></span></span></span></p>

              <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span
                        style="color:black">Không chỉ là ngôi trường có bề dày lịch sử, trường MN Hoa Cúc cũng có bảng
                        thành tích đáng ghi nhận. Trong nhiều năm liên tiếp, nhà rường đón nhận danh hiệu trường mầm non
                        tiên tiến. Với sự phấn đấu nỗ lực không ngừng của tập thể cán bộ, giáo viên, nhân viên trong nhà
                        trường, trong năm học 2016 - 2017 trường vinh dự được đón nhận danh hiệu "Tập thể lao động xuất
                        sắc". Bên cạnh đó, nhà trường còn được Phòng giáo dục và đào tạo chọn làm đơn vị&nbsp; điểm cấp
                        quận để xây dựng các chuyên đề như: thư viện cộng đồng, hoạt động Tạo hình, làm quan với Toán,
                        cha mẹ đến trường cùng con được lãnh đạo phòng GD&amp;ĐT, các bạn bè đồng nghiệp trên địa bàn
                        quận, các bậc cha mẹ học sinh đánh giá cao và được nhân rộng mô hình đổi mới sự kết nối giữa cha
                        mẹ học sinh với nhà trường.</span></span></span></span></p>

              <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt">Với 1 khu trung tâm và 2 điểm
                      trường, chúng tôi quản lý 736 bé tại 18 lớp học trong đó có 3 lớp nhà trẻ, 15 lớp mẫu giáo. Toàn
                      trường có&nbsp;72 cán bộ, giáo viên, nhân viên, những người đang hàng ngày tận tâm chăm sóc giáo
                      dục trẻ với chuyên môn và tay nghề vững vàng. Trong đó,2 đồng chí cán bộ quản lý có trình độ Thạc
                      sỹ, 20 giáo viên trình độ đại học, đạt 74,5% trình độ trên chuẩn. Với độ tuổi trung bình là 30,
                      đội ngũ giáo viên của nhà trường vừa đảm bảo sự trẻ trung để cập nhật các phương pháp giảng dạy,
                      các kiến thức mới; vừa đầy đủ sự chín chắn để hiểu tâm lý của các con, từ đó có phương pháp giảng
                      dạy phù hợp với cá nhân mỗi bé.</span></span></span></p>

              <p style="text-align:justify">&nbsp;</p>

              <p style="text-align:justify">&nbsp;</p>

              <p style="text-align:justify">&nbsp;</p>

              <p style="text-align:justify">&nbsp;</p>

              <p>&nbsp;</p>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <!--/.container-->
</article>