<div id="module26" class="ModuleWrapper" style="margin-top: 70px; margin-bottom: 70px;">
    <div class="columns-widget columns9-3 container">
        <div class="row">
            <div class="col-left col-xs-12 col-md-9 col-sm-8">
                <div id="module29" class="ModuleWrapper" moduleRootId="1697225">
                    <section id="section29"
                        class="section-list-legalddocument section-legaldocument-list-type3 Article-LegalDocument-default">
                        <div class="legalddocument-default" *ngFor="let lcd of loaicd">
                            <div class="title" style="background: #90ce16;">
                                <a class="title-documment" href="thong-bao-tu-truong/thong-bao-mau-2.html" >Thông báo mẫu
                                    2 </a>
                            </div>
                            <div class="panel-body">
                                <div class="row" >
                                    <div class="col-md-7 col-sm-6 col-xs-12" >
                                        <div class="brief">
                                            <ul style="list-style: none;" [routerLink]="['/chude',lcd.id]">
                                                <li class="" >{{lcd.tenchude}}</li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-7 col-sm-7 col-xs-7">Ngày ban hành:</div>
                                            <div class="col-md-5 col-sm-5 col-xs-5 publish-time">29/08/2017</div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .legalddocument-default>.panel-body>.row>.col-md-7 {
                                border-right: 1px dashed #ddd;
                                margin-right: -1px;
                            }

                            @media(max-width: 543px) {
                                .legalddocument-default>.panel-body>.row>.col-md-7 {
                                    border: none;
                                    margin-right: 0px;
                                }

                                .legalddocument-default>.panel-body>.row>.col-md-5 {
                                    border: none;
                                }
                            }

                            @charset "UTF-8";

                            .legalddocument-default {
                                margin-bottom: 10px;
                            }

                            .legalddocument-default>.panel-body {
                                border: 1px solid #ddd;
                                border-top: 0;
                                padding: 10px 5px;
                            }

                            .legalddocument-default>.panel-body>.row>.col-md-5 {
                                border-left: 1px dashed #ddd;
                            }

                            .legalddocument-default .title {
                                padding: 7px 5px;
                                background: #f1f1f1;
                            }

                            .legalddocument-default .title a {
                                font-weight: bold;
                                font-size: 14px;
                            }

                            .legalddocument-default .title:before {
                                content: "";
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                color: #d95700;
                                padding-right: 5px;
                            }

                            .legalddocument-default .publish-time,
                            .legalddocument-default .effective-time {
                                color: #060;
                            }
                        </style>
                      
                        <style>
                            .legalddocument-default>.panel-body>.row>.col-md-7 {
                                border-right: 1px dashed #ddd;
                                margin-right: -1px;
                            }

                            @media(max-width: 543px) {
                                .legalddocument-default>.panel-body>.row>.col-md-7 {
                                    border: none;
                                    margin-right: 0px;
                                }

                                .legalddocument-default>.panel-body>.row>.col-md-5 {
                                    border: none;
                                }
                            }

                            @charset "UTF-8";

                            .legalddocument-default {
                                margin-bottom: 10px;
                            }

                            .legalddocument-default>.panel-body {
                                border: 1px solid #ddd;
                                border-top: 0;
                                padding: 10px 5px;
                            }

                            .legalddocument-default>.panel-body>.row>.col-md-5 {
                                border-left: 1px dashed #ddd;
                            }

                            .legalddocument-default .title {
                                padding: 7px 5px;
                                background: #f1f1f1;
                            }

                            .legalddocument-default .title a {
                                font-weight: bold;
                                font-size: 14px;
                            }

                            .legalddocument-default .title:before {
                                content: "";
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                color: #d95700;
                                padding-right: 5px;
                            }

                            .legalddocument-default .publish-time,
                            .legalddocument-default .effective-time {
                                color: #060;
                            }
                        </style>
                        <div class="clearfix"></div>
                        <div id="pagination29" class="default-pagination" style="text-align:center"></div>
                    </section>
                    <style>
                        .section-legaldocument-list-type3 .filter-legalddocument {
                            margin-bottom: 40px;
                        }

                        .section-legaldocument-list-type3 .filter-legalddocument .search-text {
                            clear: both;
                            display: inline-block;
                            width: 100%;
                        }

                        .section-legaldocument-list-type3 .filter-legalddocument .search-text .btn-advanded-search,
                        .section-legaldocument-list-type3 .filter-legalddocument .search-text button {
                            color: #555;
                            background-color: transparent;
                            border: 1px solid #ddd;
                            height: 40px;
                            display: inline-block;
                            padding: 0 10px;
                            line-height: 40px;
                            border-radius: 0 4px 4px 0;
                            float: left;
                        }

                        .section-legaldocument-list-type3 .filter-legalddocument .search-text .btn-advanded-search:hover {
                            color: #555;
                            background-color: #c3c3c3;
                            border: #a2a2a2;
                        }

                        .section-legaldocument-list-type3 .filter-legalddocument .search-text button {
                            border-radius: 0;
                            border-left: 0;
                            border-right: 0;
                        }

                        .section-legaldocument-list-type3 .filter-legalddocument .search-text button:hover {
                            color: #555;
                            background-color: #c3c3c3;
                            border: #a2a2a2;
                        }

                        .section-legaldocument-list-type3 .filter-legalddocument .search-text .form-control {
                            height: 40px;
                            line-height: 40px;
                            border-radius: 4px 0 0 4px;
                            border-color: #ddd;
                            float: left;
                            display: inline-block;
                            width: calc(100% - 65px) !important;
                        }

                        .section-legaldocument-list-type3 .content-article-legaldocument {
                            margin-top: 50px;
                            background: white;
                            border-radius: 4px;
                            overflow: hidden;
                        }
                    </style>
                </div>
            </div>
            <div class="col-right col-xs-12 col-md-3 col-sm-4">
                <div class="panel panel-default frame564175037f8b9a474e8b4567 frameOptionbd490f3db4 panel-hot"
                    id="frameBoundB5930c24a3dd881">
                    <div class="panel-heading">
                        <div class="panel-title" style="font-size: 20px;
                        color: white;
                        border-top-right-radius: 40px;
                        background: #90ce16;
                        height: 36px;
                        padding-top: 1px;
                      
                        padding-left: 15px;
                        ">Tin nổi bật</div>
                    </div>
                    <div class="panel-body" style="border: 1px ridge #b1154a;">
                        <div id="module27" class="ModuleWrapper">
                            <section id="section27" class="section-list Article-News-Detail-default">
                                <article class="list-news-one" itemscope itemtype="http://schema.org/NewsArticle">
                                    <h2 class="h4 title" itemprop="headline"><a
                                            href="../tin-tuc/khai-giang-nam-hoc-2016-20172.html"
                                            title="Khai giảng năm học 2016-2017" style="font-size: 15px;
                                        padding-left: 16px;">Khai giảng năm học 2016-2017</a></h2>

                                </article>
                                <style>
                                    .fb-like-box,
                                    .fb-like-box span,
                                    .fb-like-box span iframe[style] {
                                        width: 100% !important;
                                    }

                                    .fb-like-box {
                                        margin-top: -15px;
                                    }

                                    .fb-like-box a,
                                    .fb-like-box span a,
                                    .fb-like-box span iframe[style] a {
                                        color: #fff !important;
                                    }
                                </style>
                                <article class="list-news-one" itemscope itemtype="http://schema.org/NewsArticle">
                                    <h2 class="h4 title" itemprop="headline"><a
                                            href="../tin-tuc/nhung-tiet-hoc-moi-va-thu-vi-2.html"
                                            title="Những tiết học mới và thú vị!" style="font-size: 15px;
                                        padding-left: 16px;">Những tiết học mới và thú vị!</a></h2>

                                </article>
                                <style>
                                    .fb-like-box,
                                    .fb-like-box span,
                                    .fb-like-box span iframe[style] {
                                        width: 100% !important;
                                    }

                                    .fb-like-box {
                                        margin-top: -15px;
                                    }

                                    .fb-like-box a,
                                    .fb-like-box span a,
                                    .fb-like-box span iframe[style] a {
                                        color: #fff !important;
                                    }
                                </style>
                                <article class="list-news-one" itemscope itemtype="http://schema.org/NewsArticle">
                                    <h2 class="h4 title" itemprop="headline"><a
                                            href="../tin-tuc/be-mua-hat-mung-xuan-dinh-dau.html"
                                            title="Bé múa hát mừng xuân Đinh Dậu" style="font-size: 15px;
                                        padding-left: 16px;">Bé múa hát mừng xuân Đinh Dậu</a></h2>

                                </article>
                                <style>
                                    .fb-like-box,
                                    .fb-like-box span,
                                    .fb-like-box span iframe[style] {
                                        width: 100% !important;
                                    }

                                    .fb-like-box {
                                        margin-top: -15px;
                                    }

                                    .fb-like-box a,
                                    .fb-like-box span a,
                                    .fb-like-box span iframe[style] a {
                                        color: #fff !important;
                                    }
                                </style>
                                <article class="list-news-one" itemscope itemtype="http://schema.org/NewsArticle">
                                    <h2 class="h4 title" itemprop="headline"><a
                                            href="../tin-tuc/cac-be-mau-giao-vui-halloween.html"
                                            title="Các bé mẫu giáo vui Halloween" style="font-size: 15px;
                                        padding-left: 16px;">Các bé mẫu giáo vui Halloween</a></h2>

                                </article>
                                <style>
                                    .fb-like-box,
                                    .fb-like-box span,
                                    .fb-like-box span iframe[style] {
                                        width: 100% !important;
                                    }

                                    .fb-like-box {
                                        margin-top: -15px;
                                    }

                                    .fb-like-box a,
                                    .fb-like-box span a,
                                    .fb-like-box span iframe[style] a {
                                        color: #fff !important;
                                    }
                                </style>
                            </section>
                        </div>
                    </div>
                </div>
                <div id="module28" class="ModuleWrapper">
                    <div class="clearfix media">
                        <div class="boun-media">


                            <a href="../index.html" title="" target="_self"><img style="" class="full-width"
                                    src="../../upload/18156/20170314/the-hoc-vui-cung-be-_danh-cho-tre-mam-non_-1469075672.jpg"
                                    onerror="this.src='../../App/Corporate/images/no-image-news.png';" alt=""
                                    title="" /></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style></style>
</div>