<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar site-navbar-target" role="banner">
    <div class="container">
      <div class="menu-wrap d-flex align-items-center">
        <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>

          

          <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto ">
              <li class="active"><a href="index.html" class="nav-link">Trang chủ</a></li>
              <!-- <li><a href="" class="nav-link">Giới thiệu</a></li> -->
              <a class="text-uppercase" [routerLink]="['/gioithieu']" routerLinkActive="router-link-active"  title="Giới thiệu">
                <span class="title">Giới thiệu</span>   &nbsp;<span class="caret"></span>
              </a>
              <a class="open-sub-menu" href="javascript:;"><i class="fa fa-plus" aria-hidden="true"></i>
              </a>
               
         
            <span class="left-bee"></span>

              <li><a  [routerLink]="['/cocautochuc']" class="nav-link">Cơ cấu tổ chức</a></li>
              <li><a [routerLink]="['/hoatdong']" class="nav-link">Hoạt động cuả bé</a></li>
              <li><a [routerLink]="['/congvan']" class="nav-link">Công văn</a></li>
              <li><a [routerLink]="['/thucdon']" class="nav-link">Thực đơn cho trẻ</a></li>
              <li><a [routerLink]="['/lienhe']" class="nav-link">Liên hệ</a></li>
              <li><a [routerLink]="['/quanly']" class="nav-link">Quản lý</a></li>
            </ul>
          </nav>

          <div class="top-social ml-auto">
            <a href="#"><span class="icon-facebook text-teal"></span></a>
            <a href="#"><span class="icon-twitter text-success"></span></a>
            <a href="#"><span class="icon-linkedin text-yellow"></span></a>
          </div>
      </div>
    </div>

   

  </header>

<div class="ftco-blocks-cover-1">
   
  <div class="site-section-cover overlay">
    <div class="container">
     
       
          <img src="assets/images/slide.jpg" alt="Image"  class="img-fluid" style="width: 1349px; height: 435px;"> 
          
        
      
    </div>
  </div>
</div>
